.ion-title{
  color: #fff7f7;
}
.map-container {
  width: 100%;
  height: 50%;
   /* Ajusta la altura del mapa */
  margin-bottom: 100px;
  position: relative;
}

.input-container {
  position: relative;
}

  
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
  
ion-button {
    margin: 10px;
    width: 50%;
}
  
.footer {
   display: flex;
  justify-content: space-around;  // Distribuye el espacio uniformemente
  align-items: center;             // Centra verticalmente los elementos
  padding: 10px;
  background-color: #136179;       // Color de fondo del footer
  border-top: 1px solid #ccc;      // Línea superior del footer para dar separación
  
  ion-tab-button {
    flex: 1;                       // Cada botón ocupa el mismo espacio
    text-align: center;
    ion-icon {
      font-size: 24px;             // Tamaño del ícono
      margin-bottom: 5px;          // Espacio entre el ícono y el texto
    }
    ion-label {
      font-size: 12px;             // Tamaño de la etiqueta
    }
  }
}
