<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>

</ion-header> 

<ion-content [fullscreen]="true">
  
  <div class="map-container" id="map"></div>

  <ion-item>
    <ion-label position="floating">Dirección de partida</ion-label>
    <ion-input #startingInput [(ngModel)]="startingAddress" placeholder="Ingresa la dirección de partida" (ionFocus)="initStartingAutocomplete()"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="setStartingMarker()">Marcar Partida</ion-button>

  <ion-item>
    <ion-label position="floating">Dirección de destino</ion-label>
    <ion-input #destinationInput [(ngModel)]="destinationAddress" placeholder="Ingresa la dirección" (ionFocus)="initAutocomplete()"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="setDestinationMarker()">Marcar Destino</ion-button>

  <ion-button expand="block" (click)="getCurrentLocation()">Obtener Ubicación Actual</ion-button>


</ion-content>
 


<ion-footer class="footer">
  <ion-tab-button tab="home" (click)="goToHome()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="ride-list" (click)="goToRideList()">
    <ion-icon name="car-outline"></ion-icon>
    <ion-label>Lista de viajes</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="goToProfile()">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

  
</ion-footer>