ion-header {
  --background: transparent; // Mantiene el fondo del header transparente

  ion-toolbar {
    display: flex;
    justify-content: center; // Asegura que la imagen esté centrada horizontalmente
    align-items: center; // Alinea verticalmente la imagen al centro
    height: 170px; // Incrementa la altura para dar más espacio a la imagen (ajústalo según sea necesario)

    .header-image {
      display: flex;
      justify-content: center; // Centra la imagen dentro de su contenedor
      align-items: center;
      height: 100%; // Asegura que la imagen ocupe todo el espacio disponible

      img {
        max-width: 80%;
        height: auto;
        object-fit: contain; // Asegura que la imagen mantenga su proporción
        mix-blend-mode: multiply; // Mezcla la imagen con el fondo del header
        background-color: transparent; // Asegura que la imagen no agregue un fondo
      }
    }
  }
}


.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background: #c9c618; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 20px;
} 




ion-content {
  --background: #171839; // Fondo oscuro para el contenido
  padding: 20px; // Espaciado alrededor del contenido
}

ion-item {
  margin: 15px 0; // Espacio entre los elementos de entrada
  --padding-start: 20px; // Ajusta el padding inicial para que los íconos estén alineados correctamente

  .input-icon {
    color: #007bff; // Color azul para los íconos
  }

  ion-input {
    --placeholder-color: #999; // Color del texto placeholder
    --padding-start: 20px; // Asegura que haya espacio entre el ícono y el texto
    border-bottom: 1px solid #007bff; // Añade una línea inferior para los inputs
  }
}

ion-button {
  margin-top: 20px;
  --background: #234c94; // Color de fondo azul oscuro
  --color: #fff; // Texto blanco
  border-radius: 5px; // Bordes redondeados para los botones
}

.footer {
  text-align: center;
  padding: 10px;
  background: #136179; // Fondo azul para el footer
  color: #fff; // Texto blanco
}