<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="profile-info">
      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      <p>
        <ion-label class="email-display">{{ email | async }}</ion-label>
      </p>
      
    </div>
  </div>

  <div class="section-container">
    <ion-card class="section-card">
      <ion-card-content>
        <ion-icon name="help-circle-outline" class="section-icon"></ion-icon>
        <p>Ayuda</p>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="section-card">
      <ion-card-content>
        <ion-icon name="card-outline" class="section-icon"></ion-icon>
        <p>Pago</p>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="section-card">
      <ion-card-content>
        <ion-icon name="receipt-outline" class="section-icon"></ion-icon>
        <p>Actividad</p>
      </ion-card-content>
    </ion-card>
  </div>

 
  <ion-list class="menu-list">
    <ion-item>
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Mi Vehículo</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="alert-outline" slot="start"></ion-icon>
      <ion-label>Legal</ion-label>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer class="footer">
  <ion-tab-button tab="home" (click)="goToHome()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="ride-list" (click)="goToRideList()">
    <ion-icon name="car-outline"></ion-icon>
    <ion-label>Lista de viajes</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="goToProfile()">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

  
</ion-footer>