.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-info h1 {
    font-size: 24px;
    margin: 0;
    margin-left: 15px; /* Adjust space between icon and name */
  }
  
  .profile-icon {
    font-size: 60px;
    color: #3880ff;
  }
  
  .section-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .section-card {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .menu-list {
    margin-top: 20px;
  }
  
  ion-item {
    --padding-start: 15px;
  }
  

.footer {
  display: flex;
  justify-content: space-around;  // Distribuye el espacio uniformemente
  align-items: center;             // Centra verticalmente los elementos
  padding: 10px;
  background-color: #136179;       // Color de fondo del footer
  border-top: 1px solid #ccc;      // Línea superior del footer para dar separación
   
  ion-tab-button {
   flex: 1;                       // Cada botón ocupa el mismo espacio
   text-align: center;
   ion-icon {
     font-size: 24px;             // Tamaño del ícono
     margin-bottom: 5px;          // Espacio entre el ícono y el texto
   }
   ion-label {
     font-size: 12px;             // Tamaño de la etiqueta
   }
  }
}